<div class="post-index">
  <div class="content-container row">
    <div class="col-xs-4">
      <%=image_tag("placeholder.jpeg", class:"img-responsive img-rounded")%>
    </div>
    <div class="col-xs-8">
      <div class="about-text"><h1>About Me</h1></div>
      <p>
        Put text here.
      </p>
    </div>
  </div>
</div>
