@import "bootstrap-sprockets";
@import "bootstrap";

body {
  @extend container;

  line-height: 1;
  color: black;
  background: white
}

img {
  max-width: 100%;
}

ol,
ul {
  list-style: none
}

section,
article,
header,
footer,
nav,
aside,
hgroup {
  display: block
}

.dropshadow-topbottom {
  display: none
}

@import 'header';
@import 'footer';
@import 'posts';
@import 'comments';
@import 'github';
