@import "bootstrap-sprockets";
@import "bootstrap";

body {
  @extend container;

  line-height: 1;
  color: black;
  background: white
}

a:focus, a:hover {
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px #428bca;
}

img {
  max-width: 100%;
}

ol,
ul {
  list-style: none
}

section,
article,
header,
footer,
nav,
aside,
hgroup {
  display: block
}

hr {
  border-top: 1px solid #aaa;
}

.dropshadow-topbottom {
  display: none
}

.btn {
  background: #92b3d4;
  color: white;
}

.btn:hover, .btn:focus {
  color: #92b3d4;
  background: black;
}

.content-container {
  background: #eee;
  border-radius: 5px;
  padding: 2em !important;
}

.about-text h1 {
  text-align: center;
  margin-top: 0;
}

@import 'header';
@import 'footer';
@import 'posts';
@import 'comments';
@import 'github';
