/* Sticky footer styles
-------------------------------------------------- */

.footer {
  margin-top: 50px;
  width: 100%;
  background-color: black;
  padding: 0 15px;
  bottom: 0;
  position: relative;
  color: white;

  p {
    margin: 0;
    text-align: center;
    padding: 10px;
  }

  .ion-heart {
    color: red;
  }

  a:focus, a:hover {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px #428bca;
  }
}
