.post-index{
  margin: auto;
  max-width: 935px;

  .posts-container {
    
    .post {
      background: #eee;
      border-radius: 5px;
      padding: 2em !important;
      margin: 2.5em 0;
    }

    h1 {
      a {
        color: black;
      }

      a:hover, a:focus {
        color: #92b3d4;
        text-decoration: none;
        text-shadow: 1px 1px black;
      }
    }

    .navbar-collapse::before {
      @extend center;
    }

    .date {
      color: #92b3d4;
    }
  }
}

@media (min-width: 768px) {
  .post-index {
    max-width: 654px;
  }
}

@media (min-width: 992px) {
  .post-index {
    max-width: 860px;
  }
}

@media (min-width: 1200px) {
  .post-index {
    max-width: 965px;
  }
}

small {
  color: #92b3d4;
}
