<header>
  <div class="container">
    <a href="./">
      <h1 class="blog-title"><center><%= content_for?(:title) ? yield(:title) : "Blog Template" %></center></h1>
      <br>
      <%=image_tag("422.png", width: "995", id:"masthead-img", class:"img-responsive")%>
    </a>
    <%= render :partial => 'layouts/navbar' %>
  </div>

</header>
